 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 *{
    margin: 0;
    padding: 0;
 }
 body {
     width: 100vw;
     background-image: url(cenario/1.png);
     background-size: 85%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center center;
     background-color: rgba(105, 72, 14, 0.778);
     
 }
ul {
  list-style-type: none;
}
nav {
  position: relative;
  display: flex;
  justify-content: right;
  margin-right: 110px;
  margin-top: 5px;
}
.menu {
 position: relative;
  
}
.menu > img {
  cursor: pointer;
}
.menu ul {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.632);
  padding: 20px;
  border-radius: 8px;
  min-width: 150px;
  right: 100%;
  
}
.menu:hover > ul {
  display: block;
}
.menu ul li {
  padding: 8px 12px;
  cursor: pointer;
  color: black;
}
.menu ul li:hover {
  background-color: #3d3c396a;
  border-radius: 8px;
  
}
.menuImg{
    width: 24px;
}
.audio img{
    width: 70px;
    position: fixed;
}
.audio{
    display: flex;
    justify-content: flex-end;
    margin-right: 90px;
    margin-top: 540px;
    margin-bottom: 0;
}
#iconesP img{
    width: 60px;
    border-radius: 100px;
    margin-top: 8px;
    
}
#iconesP{
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: absolute;
    margin-top: 100px;
    margin-right: 1060px;
}
#iconesP img:hover {
  transform: scale(1.1); 
}
#avanca button{
    border: none;
    position: absolute;
    margin-top: 350px;
    background-color: rgba(0, 0, 0, 0);
}
#avanca{
    display: flex;
    justify-content: center;
    align-content: center;
}
#avanca2{
    width: 60px;
    height: 50px;
    padding: 30px;
    background-color: rgba(240, 248, 255, 0.084);
}
#avanca2:hover{
    transform: scale(1.5);
    border: 1px black solid;
    
}
#espacoFR{
  padding: 30px;
  background-color: rgba(255, 123, 0, 0.525);
  width: 700px;
  height: 250px;
  display: flex;
  flex-direction: column; 
  border-radius: 10px;
  border: 1px solid orangered;
  /* position: fixed */
}
#paiEspacoFR{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 10px;
}
#pc_resp1{
  display: none;
}
#pc_fala1{
  display: none;
}
#pc_fala2{
  display: none;
}
#pc_fala3{
  display: none;
}
#pc_fala4{
  display: none;
}
#pc_resp2{
  display: none;
  
}
#pc_resp3{
  display: none;
  
}
#pc_resp4{
  display: none;
  
}
#espacoResp{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
#espacoFala{
  margin-bottom: 20px;
  padding: 20px;
  height: 30px;
  background-color: rgba(255, 123, 0, 0.772);
  border-radius: 5px;
  color: white;
}
.respButton{
  margin-bottom: 8px;
  padding: 20px;
  height: 5px;
  background-color: rgba(255, 123, 0, 0.772);
  border-radius: 5px;
  color: white;
  border: none;
  border: 1px solid orangered;
}
.respButton:hover{
  background-color: rgba(255, 123, 0, 0);
  cursor: pointer;
}
.mudarButton{
  margin-bottom: 8px;
  padding: 10px;
  height: 80px;
  width: 100px;
  background-color: rgba(255, 123, 0, 0.772);
  border-radius: 5px;
  color: white;
  border: none;
 margin-top: 100px;
 margin-left: 600px;
 border: 1px solid rgb(255, 0, 0);
}
.mudarButton:hover{
  cursor: pointer;
}
#wendy_fala1{
  display: none;
}
#wendy_resp1{
  display: none;
}
#wendy_fala2{
  display: none;
}
#wendy_resp2{
  display: none;
}
#wendy_fala3{
  display: none;
}
#wendy_resp3{
  display: none;
}
#wendy_fala4{
  display: none;
}
#wendy_resp4{
  display: none;
}
#wendy_fala5{
  display: none;
}
#wendy_resp5{
  display: none;
}
#prof1_fala1{
  display: none;
}
#prof1_resp1{
  display: none;
}
#botaoOver{
  display: none;
  justify-content: center;
  bottom: 100px;
  left: 40px;
}
#botaoOver a{
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px rgb(255, 149, 2);
    font-weight: 700;
    margin-right: 10px;
}
#botaoOver a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.517);
    text-shadow: 1px 1px 2px rgb(255, 149, 2);
    font-weight: 700;
}
#prof1_fala2{
  display: none;
}
#prof1_resp2{
  display: none;
}
#kyle_fala1{
  display: none;
}
#cartman_fala1{
  display: none;
}
#butters_fala1{
  display: none;
}